
@media screen and (max-width:1300px) {
    .container{
        max-width: 1250px;
        margin: 0 auto;
    }

   
    .images{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
       }

   
}

@media screen and (max-width:1103px) {
    .container{
        max-width: 1060px;
    }

    .content{
        padding-top: 95px;
        padding-left: 120px;

        span{
            font-size: 150px;
        }
        h1{
            font-size: 50px;
        }
    }

   
   
}

@media screen and (max-width:950px) {
    .container{
        max-width: 900px;
    }
    
    .adventure,
    .journey
    .footer{
        padding: 15px;
    }
    
    .adventure-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .btn{
            margin-bottom: 40px;
        }
    }
    .sect01{
        flex-direction: column;
        align-items: center;
    }
    .content{
        padding-top: 65px;
        padding-left: 80px;
        max-width: 512px;

        span{
            font-size: 100px;
        }
        h1{
            font-size: 40px;
            line-height: 50px;
        }

        p{
            line-height: 20px;
        }
    }
    .images{
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 40px;
    }
    .sect02{
        flex-direction: column-reverse;
        align-items: center;

        .content{
            padding-top: 65px;
            padding-left: 100px;
            max-width: 512px;
        }
    }

    .sect03{
        flex-direction: column;
        align-items: center;
        .content{
            padding-top: 65px;
            padding-left: 100px;
            max-width: 512px;
        }
    }


    .statistics-wrap{
        flex-wrap: wrap;
        gap: 40px;
    }
    .footer-info{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    
}

@media screen and (max-width:685px) {
    .container{
        max-width: 655px;
    }
    .adventure-content{

        .logo{
            font-size: 27px;
        }
        h1{
            font-size: 75px;
        }
        p{
            font-size: 14px;
        }
}
    .footer-info-content{
        p{
            text-align: center;
        }

        .btn{
            margin-bottom: 40px;
        }
    }

    .footer-img{
        max-width: 512px;
        width: 100%;
    }
    .footer-nav{
        flex-direction: column;
        gap: 15px;
    }
}
   
@media screen and (max-width:450px) {
    .adventure-content{

        .logo{
            font-size: 16px;
        }
        h1{
            font-size: 55px;
        }
        p{
            font-size: 10px;
        }
    }
}